
.tabs {
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-font-family: "Consolas";
}

.text-area .content{
    -fx-background-color: #F8E9E9;
}

.inspiration-background{
    -fx-background-color: #F8E9E9;

}

.titled-pane .title{
    -fx-background-color: #31E981 ;
    -fx-border-color: "black";
}

.check-box .box{
    -fx-background-color: #31E981;
    -fx-border-color: "black";
}

.results {
    -fx-font-family: "Consolas";

}

.results .desc{
    -fx-font-size: 18px;
}

.results .title{
    -fx-font-size: 20px;
}

.results .img{
    width: 200px;
    height: 200px;
}



